* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.head {
  background-color: rgb(0, 0, 0);
  height: 30px;
  margin-bottom: 40px;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
}
.box {
  width: 30%;
  height: 35vh;
  background-color: rgb(19, 141, 141);
  border-radius: 10px;
}
.footer {
  height: 25px;
  margin: 30px 40px;
  border-radius: 10px;
  background-color: rgb(209, 98, 176);
}
