// MAIN-1
.bg {
  background-image: url("../images/cover.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
section {
  .section {
    width: 50%;
  }
  .text {
    @include flex(space-between, start);
    flex-direction: column;
    padding: 5rem 0;
    @media screen and (max-width: 767px) {
      .text {
        @include flex();
        flex-direction: column;
        width: 50%;
      }
    }
    .legal {
      color: $primary-color;
    }
    h4 {
      width: 60%;
      @media screen and (max-width: 767px) {
        @include flex();
        flex-direction: column;
        width: 100%;
      }
    }

    .buttons {
      @include flex();
      flex-direction: row;
      column-gap: 10px;
      padding: 20px 0;
    }
    .button {
      @extend %btn;
    }
    .button-2 {
      background-color: transparent;
      color: $secondary;
      border: 1px solid;
    }
    h1 {
      font-size: 40px;
      padding: 20px 0;
    }
  }
  @media screen and (max-width: 767px) {
    .buttons {
      @include flex();
      flex-direction: column;
    }
  }
}

// MAIN-2
section {
  .boxes {
    @include flex();
    position: relative;
    top: 110px;
    gap: 80px;
    line-height: 25px;
  }
  .box {
    margin: 100px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    gap: 20px;
    color: $primary-color;
    box-shadow: 6px 6px 3px rgb(121, 117, 117);
    width: 30%;
  }
  .box-one {
    background-color: $primary-color;
    color: $third;
  }
  .box h2 {
    font-size: 25px;
  }
  @media screen and (max-width: 767px) {
    .boxes {
      @include flex(space-between);
      flex-direction: column;
      width: 100%;
    }
    .box {
      width: 20%;
    }
  }
}
// MAIN-3
.grey {
  background-color: rgb(255, 255, 255);
  margin: 40px 0;
}

.content {
  @include flex(space-evenly);
  flex-direction: column;
  padding: 100px 0;
  .top {
    .lorem-15 {
      @include flex();
      align-items: center;
    }
    @include flex();
    flex-direction: column;
    h1 {
      color: $primary-color;
      font-size: 30px;
    }
    p {
      @include flex();
      padding: 15px;
      
    }
  }

  .bottom {
    @include flex(space-evenly);
    flex-direction: row;
    gap: 20px;
    padding: 30px;
    .icon-3 {
      color: #d0a144;
    }
  }
  .box-a {
    @include flex();
    flex-direction: column;
    gap: 20px;
    width: 150px;

    h1 {
      font-size: 30px;
    }
    p {
      font-size: 15px;
    }
  }
  @media screen and (max-width: 767px) {
    .bottom {
      @include flex();
      flex-direction: column;
    }
    .top {
      @include flex();
      flex-direction: column;
      width: 50%;
    }
  }
}
