html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
@media screen and (max-width: 1200px) {
  .container {
    padding: 0 5%;
  }
}

section .text .button {
  padding: 8px;
  color: rgb(255, 255, 255);
  border: none;
  background-color: rgb(160, 55, 3);
  border-radius: 15px;
  width: 120px;
}

header {
  color: #291f7c;
}
header .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
header .header .font {
  display: none;
}
header .header h3 {
  font-size: 20px;
}
header .header nav ul {
  display: flex;
  gap: 80px;
}
header .header nav ul a {
  color: #291f7c;
}
@media screen and (max-width: 767px) {
  header .header nav {
    display: none;
  }
}

.bg {
  background-image: url("../images/cover.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

section .section {
  width: 50%;
}
section .text {
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-direction: column;
  padding: 5rem 0;
}
@media screen and (max-width: 767px) {
  section .text .text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
  }
}
section .text .legal {
  color: #291f7c;
}
section .text h4 {
  width: 60%;
}
@media screen and (max-width: 767px) {
  section .text h4 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }
}
section .text .buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  -moz-column-gap: 10px;
       column-gap: 10px;
  padding: 20px 0;
}
section .text .button-2 {
  background-color: transparent;
  color: rgb(160, 55, 3);
  border: 1px solid;
}
section .text h1 {
  font-size: 40px;
  padding: 20px 0;
}
@media screen and (max-width: 767px) {
  section .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

section .boxes {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 110px;
  gap: 80px;
  line-height: 25px;
}
section .box {
  margin: 100px;
  padding: 10px;
  background-color: rgb(255, 255, 255);
  gap: 20px;
  color: #291f7c;
  box-shadow: 6px 6px 3px rgb(121, 117, 117);
  width: 30%;
}
section .box-one {
  background-color: #291f7c;
  color: rgb(255, 255, 255);
}
section .box h2 {
  font-size: 25px;
}
@media screen and (max-width: 767px) {
  section .boxes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }
  section .box {
    width: 20%;
  }
}

.grey {
  background-color: rgb(255, 255, 255);
  margin: 40px 0;
}

.content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  padding: 100px 0;
}
.content .top {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.content .top .lorem-15 {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
}
.content .top h1 {
  color: #291f7c;
  font-size: 30px;
}
.content .top p {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}
.content .bottom {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  gap: 20px;
  padding: 30px;
}
.content .bottom .icon-3 {
  color: #d0a144;
}
.content .box-a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  width: 150px;
}
.content .box-a h1 {
  font-size: 30px;
}
.content .box-a p {
  font-size: 15px;
}
@media screen and (max-width: 767px) {
  .content .bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .content .top {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
  }
}/*# sourceMappingURL=main.css.map */