/* p{
    font-family: 'Monoton', cursive;
    font-family: 'Playfair Display', serif;
    font-family: 'Roboto Slab', serif;
    font-family: 'Sofia Sans Condensed', sans-serif;
    font-family: 'Young Serif', serif;
} */

#lorem {
  color: blue;
  font-family: "Playfair Display", serif;
  font-size: 30px;
  font-weight: 300;
  text-decoration: dotted;
  text-shadow: 5px 3px 0 red;
}
#ipsum {
  color: blueviolet;
  font-family: "Monoton", cursive;
  font-size: 20px;
}
#dolor {
  color: rgb(1, 27, 27);
  font-family: "Roboto Slab", serif;
  font-size: 15px;
}
#sit {
  color: brown;
  font-family: "Sofia Sans Condensed", sans-serif;
  font-size: 30px;
}
#loremi {
  color: green; 
  font-size: 20px;
  font-family: 'Young Serif', serif;
}
#ipsumd {
  color: rgb(75, 6, 236); 
  font-size: 16px;
  font-family: "Sofia Sans Condensed", sans-serif;
}
#dolorsi {
  color: orangered; 
  font-size: 30px;
  font-family: "Roboto Slab", serif;
}
#lored {
    color: crimson; 
    font-size: 23px;
    font-family: 'Young Serif', serif;
}
#loreh {
    color: rgb(252, 8, 8); 
    font-size: 19px;
    font-family: "Sofia Sans Condensed", sans-serif;
}
