header {
//   background-color: $primary-color;
  .header {
    @include flex(space-between);
    margin: 10px;
    padding: 10px;
   
    nav {
      ul {
      
        display: flex;
        gap: 80px;
      }
    
    }
  }
}
