* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 85px;
}
header .header nav ul {
  list-style: none;
  display: flex;
  column-gap: 3rem;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
header {
  background-color: rgb(9, 91, 56);
}
.header {
  padding: 10px;
}
.sign-up {
  background-color: aqua;
  border-radius: 10px;
  padding: 10px;
  border-style: none;
}
.log-in {
  background-color: transparent;
  border-style: none;
  color: aliceblue;
}
a {
  text-decoration: none;
  color: rgb(255, 252, 255);
}
h1 {
  color: aliceblue;
}
.fa-solid.fa-bars {
  display: none;
}

.container-1 {
  background-color: rgb(27, 101, 76);
  color: aliceblue;
}
.footer {
  display: flex;
  gap: 50px;
}
.left,
.right {
  width: 50%;
  padding: 30px;
}
.right {
  display: flex;
  justify-content: space-between;
}
.left {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
h3 {
  font-size: 30px;
}
a {
  text-decoration: none;
  /* color: rgb(225, 225, 225); */
  display: flex;
  flex-direction: column;
}
.text {
  padding: 10px 0;
}

@media screen and (max-width: 1200px) {
  .container {
    padding: 0 5%;
  }
}
@media screen and (max-width: 767px) {
  .header .fa-bars {
    display: block;
  }
  nav {
    display: none;
  }
  .fa-solid.fa-bars {
    display: block;
  }
  .btns {
    display: none;
  }
}
