* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 85px;
}
header .header nav ul {
  list-style: none;
  display: flex;
  column-gap: 3rem;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
header {
  background-color: bisque;
}
.header {
  padding: 10px;
}
.sign-up {
  background-color: aqua;
  border-radius: 10px;
  padding: 10px;
  border-style: none;
}
.log-in {
  background-color: transparent;
  border-style: none;
}
a {
  text-decoration: none;
  color: rgb(87, 6, 73);
}

.fa-solid.fa-bars {
  display: none;
}




.container-1{
  background-color: rgb(124, 209, 181);
}
.footer{
  display: flex;
  gap: 50px;
}
.left, .right{
  width: 50%;
  padding: 30px;
}
.right{
  display: flex;
  justify-content: space-between;
}
.left{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
a{
  text-decoration: none;
  flex-wrap: wrap;
}














@media screen and (max-width: 1200px) {
  .container {
    padding: 0 5%;
  }
}

@media screen and (max-width: 767px) {
  .header .fa-bars {
    display: block;
  }
  nav {
    display: none;
  }
  .fa-solid.fa-bars {
    display: block;
  }
  .btns {
    display: none;
  }
}
